<div class="header">
  <div class="title">
    <app-header></app-header>
  </div>
</div>


<div class="body0">

  <div class="body1">
    
    <div class="container">
      <app-bet [num]=1 (newBetEvent)="addBet($event)"></app-bet>
      <app-bet [num]=5 (newBetEvent)="addBet($event)"></app-bet>
      <app-bet [num]=10 (newBetEvent)="addBet($event)"></app-bet>
      <app-bet [num]=20 (newBetEvent)="addBet($event)"></app-bet>
  </div>

  </div>
  
  <div class="body2">    
    <div id="container">
    <div class="buttonWrap">
      <app-number [num]=1   [length]='length' (newNumberEvent)="addItem($event)" ></app-number>
      <app-number [num]=2   [length]='length' (newNumberEvent)="addItem($event)"></app-number>
      <app-number [num]=3   [length]='length' (newNumberEvent)="addItem($event)"></app-number>
      <app-number [num]=4   [length]='length' (newNumberEvent)="addItem($event)"></app-number>
      <app-number [num]=5   [length]='length' (newNumberEvent)="addItem($event)"></app-number>
      <app-number [num]=6   [length]='length' (newNumberEvent)="addItem($event)"></app-number>
    </div>
    <div class="buttonWrap">
      <app-number [num]=7   [length]='length' (newNumberEvent)="addItem($event)"></app-number>
      <app-number [num]=8   [length]='length' (newNumberEvent)="addItem($event)"></app-number>
      <app-number [num]=9   [length]='length' (newNumberEvent)="addItem($event)"></app-number>
      <app-number [num]=10   [length]='length' (newNumberEvent)="addItem($event)"></app-number>
      <app-number [num]=11   [length]='length' (newNumberEvent)="addItem($event)"></app-number>
      <app-number [num]=12   [length]='length' (newNumberEvent)="addItem($event)"></app-number>
    </div>
    <div class="buttonWrap">
      <app-number [num]=13   [length]='length' (newNumberEvent)="addItem($event)"></app-number>
      <app-number [num]=14   [length]='length' (newNumberEvent)="addItem($event)"></app-number>
      <app-number [num]=15   [length]='length' (newNumberEvent)="addItem($event)"></app-number>
      <app-number [num]=16   [length]='length' (newNumberEvent)="addItem($event)"></app-number>
      <app-number [num]=17   [length]='length' (newNumberEvent)="addItem($event)"></app-number>
      <app-number [num]=18   [length]='length' (newNumberEvent)="addItem($event)"></app-number>
    </div>
    <div class="buttonWrap">
      <app-number [num]=19   [length]='length' (newNumberEvent)="addItem($event)"></app-number>
      <app-number [num]=20   [length]='length' (newNumberEvent)="addItem($event)"></app-number>
      <button style="width:200px" (click)="clear()">CASH</button>
      <button style="width:200px" (click)="clear()">CLEAR</button>
    </div>
  </div>
  </div>
  
  <div class="body3">

    <div>
      Numbers Selected:=
      <ul>
        <p *ngFor="let item of nums">Mark: {{item}}</p>
      </ul>

      <h4>Total: ${{price}}</h4>
    </div>
  
  </div>

</div>

